@model FlashionAuth.Models.Signupform

<form method="post">
    <div class="mb-3">
        <label class="form-label">name</label>
        <input class="form-control" type="text" asp-for="name" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" type="text" asp-for="username" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="text" asp-for="password" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary"asp-action="Login" asp-controller="Main">Back</button>
    </div>
</form>